In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("company_info_2.xlsx")

In [3]:
num = df.values

In [7]:
a = num.flatten()

In [14]:
b = list(a)

In [15]:
b.pop(0)

0

In [18]:
pd.DataFrame(b)

                                                       0
0      {'company_korean_name': '가가담목재(주)', 'company_e...
1      {'company_korean_name': '(주)가겐투안', 'company_en...
2      {'company_korean_name': '주식회사 가경', 'company_en...
3      {'company_korean_name': '주식회사 가경', 'company_en...
4      {'company_korean_name': '(주)가경개발', 'company_en...
...                                                  ...
15588                                                NaN
15589                                                NaN
15590                                                NaN
15591                                                NaN
15592                                                NaN

[15593 rows x 1 columns]

In [16]:
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,35,36,37,38,39,40,41,42,43,44
0,0,"{'company_korean_name': '가가담목재(주)', 'company_e...","{'company_korean_name': '(주)가겐투안', 'company_en...","{'company_korean_name': '주식회사 가경', 'company_en...","{'company_korean_name': '주식회사 가경', 'company_en...","{'company_korean_name': '(주)가경개발', 'company_en...","{'company_korean_name': '(주)가경디앤씨', 'company_e...","{'company_korean_name': '가경산업개발(주)', 'company_...","{'company_korean_name': '주식회사 가경엘앤에프', 'compan...","{'company_korean_name': '가경제일차 주식회사', 'company...",...,"{'company_korean_name': '(주)가담종합건설', 'company_...","{'company_korean_name': '주식회사 가드너', 'company_e...","{'company_korean_name': '가드너덴버코리아', 'company_e...","{'company_korean_name': '가드넥(주)', 'company_eng...","{'company_korean_name': '주식회사 가드빌', 'company_e...","{'company_korean_name': '(주)가든파이브라이프', 'compan...","{'company_korean_name': '가든파크유동화전문 유한회사', 'com...","{'company_korean_name': '가디언(주)', 'company_eng...","{'company_korean_name': '주식회사 가디언 네트웍스', 'comp...","{'company_korean_name': '가디언제일차 주식회사', 'compan..."
1,1,"{'company_korean_name': '주식회사 가디언홀딩스', 'compan...","{'company_korean_name': '가락건설(주)', 'company_en...","{'company_korean_name': '주식회사 가람', 'company_en...","{'company_korean_name': '(주)가람D&C', 'company_e...","{'company_korean_name': '주식회사 가람건설', 'company_...","{'company_korean_name': '가람건설 주식회사', 'company_...","{'company_korean_name': '가람건설산업주식회사', 'company...","{'company_korean_name': '(주)가람나노텍', 'company_e...","{'company_korean_name': '가람동국감정평가법인 주식회사', 'co...",...,"{'company_korean_name': '주식회사 가비', 'company_en...","{'company_korean_name': '(주)가비아', 'company_eng...","{'company_korean_name': '(주)가빈', 'company_engl...","{'company_korean_name': '가빈제일차 주식회사', 'company...","{'company_korean_name': '가산개발(주)', 'company_en...","{'company_korean_name': '가산건설주식회사', 'company_e...","{'company_korean_name': '㈜가산디앤씨', 'company_eng...","{'company_korean_name': '가산브이프로젝트금융투자주식회사', 'c...","{'company_korean_name': '가산아이씨티 주식회사', 'compan...","{'company_korean_name': '주식회사 가산웰스홀딩스', 'compa..."
2,2,"{'company_korean_name': '주식회사 가산일렉트론', 'compan...","{'company_korean_name': '가산타워 주식회사', 'company_...","{'company_korean_name': '가산타워제일차 주식회사', 'compa...","{'company_korean_name': '가산토건주식회사', 'company_e...","{'company_korean_name': '주식회사 가석', 'company_en...","{'company_korean_name': '가성건설(주)', 'company_en...","{'company_korean_name': '주식회사 가솔린', 'company_e...","{'company_korean_name': '(주)가스엔텍', 'company_en...","{'company_korean_name': '가스켐 테크놀로지(주)', 'compa...",...,"{'company_korean_name': '주식회사 가온', 'company_en...","{'company_korean_name': '주식회사 가온', 'company_en...","{'company_korean_name': '(주)가온감정평가법인', 'compan...","{'company_korean_name': '주식회사 가온과사람들', 'compan...","{'company_korean_name': '주식회사 가온누리', 'company_...","{'company_korean_name': '주식회사 가온디앤씨', 'company...","{'company_korean_name': '가온미디어(주)', 'company_e...","{'company_korean_name': '주식회사 가온빌드', 'company_...","{'company_korean_name': '주식회사 가온빛', 'company_e...","{'company_korean_name': '주식회사 가온산업개발', 'compan..."
3,3,"{'company_korean_name': '가온소프트(주)', 'company_e...","{'company_korean_name': '(주)가온솔루션', 'company_e...","{'company_korean_name': '가온아이', 'company_engli...","{'company_korean_name': '가온에스티(주)', 'company_e...","{'company_korean_name': '주식회사 가온에이앤디', 'compan...","{'company_korean_name': '(주)가온인베스트먼트', 'compan...","{'company_korean_name': '주식회사 가온인베스트먼트대부', 'co...","{'company_korean_name': '(주)가온인슈', 'company_en...","{'company_korean_name': '가온전선(주)', 'company_en...",...,"{'company_korean_name': '주식회사 가은종합건설', 'compan...","{'company_korean_name': '주식회사가은투자개발', 'company...","{'company_korean_name': '가은회계법인', 'company_eng...","{'company_korean_name': '(주)가이드건설', 'company_e...","{'company_korean_name': '(주)가이블', 'company_eng...","{'company_korean_name': '가이스링거 주식회사', 'company...","{'company_korean_name': '(주)가이아', 'company_eng...","{'company_korean_name': '주식회사 가이아', 'company_e...","{'company_korean_name': '가이아건설(주)', 'company_e...","{'company_korean_name': '가이아디벡스제사차주식회사', 'comp..."
4,4,"{'company_korean_name': '가이아디벡스제오차주식회사', 'comp...","{'company_korean_name': '가이아디벡스제육차주식회사', 'comp...","{'company_korean_name': '가이아디앤씨', 'company_eng...","{'company_korean_name': '(주)가이아로지스', 'company_...","{'company_korean_name': '주식회사 가이아모바일코리아', 'com...","{'company_korean_name': '(주)가이아물류', 'company_e...","{'company_korean_name': '가이아미래일반산단 주식회사', 'com...","{'company_korean_name': '주식회사 가이아에너지', 'compan...","{'company_korean_name': '가이아영제이차 주식회사', 'compa...",...,"{'company_korean_name': '(주)가치네트', 'company_en...","{'company_korean_name': '가치와사람', 'company_engl...","{'company_korean_name': '가치투자자문주식회사', 'company...","{'company_korean_name': '가톨릭대학교산학협력단', 'compan...","{'company_korean_name': '(주)가톨릭신문사', 'company_...",{'company_korean_name': '주식회사 가트너리서치어드바이저리코리아'...,"{'company_korean_name': '(주)가파치', 'company_eng...","{'company_korean_name': '주식회사 가평개발', 'company_...","{'company_korean_name': '가평양주강군 주식회사', 'compan...","{'company_korean_name': '가평양평지킴이(주)', 'company..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,334,"{'company_korean_name': '디지틀스포츠투데이(주)', 'compa...","{'company_korean_name': '(주)디지틀영산', 'company_e...","{'company_korean_name': '(주)디지틀온미디어', 'company...","{'company_korean_name': '(주)디지틀조선일보', 'company...","{'company_korean_name': '(주)디지틀조선애드', 'company...","{'company_korean_name': '주식회사 디지티', 'company_e...","{'company_korean_name': '주식회사 디지파이코리아', 'compa...","{'company_korean_name': '(주)디지파이홀딩스', 'company...","{'company_korean_name': '주식회사 디지파츠', 'company_...",...,"{'company_korean_name': '디케이락(주)', 'company_en...","{'company_korean_name': '주식회사 디케이랜드', 'company...","{'company_korean_name': '디케이랜드제일차유동화전문(유)', 'c...","{'company_korean_name': '디케이리얼티(주)', 'company_...","{'company_korean_name': '주식회사디케이리조트', 'company...","{'company_korean_name': '디케이마린', 'company_engl...","{'company_korean_name': '디케이메디칼솔루션(주)', 'compa...","{'company_korean_name': '디케이메디칼시스템(주)', 'compa...","{'company_korean_name': '디케이모터스(주)', 'company_...","{'company_korean_name': '주식회사 디케이물류', 'company..."
335,335,"{'company_korean_name': '주식회사 디케이비즈니스', 'compa...","{'company_korean_name': '디케이사 주식회사', 'company_...","{'company_korean_name': '(주)디케이산기', 'company_e...","{'company_korean_name': '디케이산업(주)', 'company_e...","{'company_korean_name': '(주)디케이산업', 'company_e...","{'company_korean_name': '주식회사 디케이산업개발', 'compa...","{'company_korean_name': '주식회사 디케이서비스', 'compan...","{'company_korean_name': '디케이세종 주식회사', 'company...","{'company_korean_name': '(주)디케이시', 'company_en...",...,"{'company_korean_name': '주식회사 디케이엠', 'company_...","{'company_korean_name': '디케이오 주식회사', 'company_...","{'company_korean_name': '(주)디케이오스텍', 'company_...","{'company_korean_name': '디케이오제일차 주식회사', 'compa...","{'company_korean_name': '디케이와이제일차 주식회사', 'comp...","{'company_korean_name': '디케이용인신봉 주식회사', 'compa...","{'company_korean_name': '(주)디케이유업', 'company_e...","{'company_korean_name': '디케이유엔씨주식회사', 'company...","{'company_korean_name': '(주)디케이이앤엠', 'company_...","{'company_korean_name': '(주)디케이이엔씨', 'company_..."
336,336,"{'company_korean_name': '디케이제일차 주식회사', 'compan...","{'company_korean_name': '디케이종합건설(주)', 'company...","{'company_korean_name': '(주) 디케이컴티제이', 'compan...","{'company_korean_name': '(주)디케이코리아', 'company_...","{'company_korean_name': '디케이코리아주식회사', 'company...","{'company_korean_name': '디케이코스메틱', 'company_en...","{'company_korean_name': '주식회사디케이코퍼레이션', 'compa...","{'company_korean_name': '(주)디케이크리에이션', 'compan...","{'company_korean_name': '주식회사 디케이테크인', 'compan...",...,"{'company_korean_name': '주식회사 디킴스커뮤니케이션즈', 'co...","{'company_korean_name': '주식회사 디킴스커뮤니케이션즈', 'co...","{'company_korean_name': '(주)디테크', 'company_eng...","{'company_korean_name': '주식회사 디텍', 'company_en...","{'company_korean_name': '주식회사 디텍씨큐리티', 'compan...","{'company_korean_name': '(주)디텍터전자', 'company_e...","{'company_korean_name': '(주)디토정보기술', 'company_...","{'company_korean_name': '(주)디투에스', 'company_en...","{'company_korean_name': '(주)디투엔지니어링', 'company...","{'company_korean_name': '디투인베스트 주식회사', 'compan..."
337,337,"{'company_korean_name': '디트루', 'company_englis...","{'company_korean_name': '디티메이제일차 주식회사', 'compa...","{'company_korean_name': '(주)디티브이인터랙티브', 'compa...","{'company_korean_name': '(주)디티비로', 'company_en...","{'company_korean_name': '디티비안(주)', 'company_en...","{'company_korean_name': '디티비홀딩스 주식회사', 'compan...","{'company_korean_name': '주식회사 디티씨', 'company_e...","{'company_korean_name': '(주)디티아이코리아', 'company...","{'company_korean_name': '디티알 주식회사', 'company_e...",...,"{'company_korean_name': '(주)디피메탈', 'company_en...","{'company_korean_name': '(주)디피브이', 'company_en...","{'company_korean_name': '디피씨(주)', 'company_eng...","{'company_korean_name': '(주)디피앤케이', 'company_e...","{'company_korean_name': '주식회사디피엘', 'company_en...","{'company_korean_name': '주식회사 디피엘', 'company_e...","{'company_korean_name': '(주)디피엠', 'company_eng...","{'company_korean_name': '(주)디피엠엔터프라이즈', 'compa...","{'company_korean_name': '주식회사 디피엠테크', 'company...","{'company_korean_name': '(주)디피코', 'company_eng..."
338,338,"{'company_korean_name': '주식회사 디피코 홀딩스', 'compa...","{'company_korean_name': '주식회사 디핀다트코리아', 'compa...","{'company_korean_name': '주식회사 디허브', 'company_e...","{'company_korean_name': '(주)딘텍', 'company_engl...","{'company_korean_name': '(주)딘텍스코리아', 'company_...","{'company_korean_name': '주식회사 딜넷', 'company_en...","{'company_korean_name': '주식회사 딜던쉐어즈', 'company...","{'company_korean_name': '주식회사 딜라이브', 'company_...","{'company_korean_name': '(주)딜라이브강남케이블티브이', 'co...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.loc[:, ['C', 'D']]

          C         D
0 -0.504117  0.304612
1       NaN       NaN
2  1.442619 -0.406049

In [27]:
df.loc[:, ['C', 'D']].fillna(-1, inplace=True)

In [32]:
df.loc[:, ['C', 'D']]

          C         D
0 -0.504117  0.304612
1  0.000000  0.000000
2  1.442619 -0.406049

In [30]:
df.fillna(0, inplace=True)

In [31]:
df

          A         B         C         D
0  0.861490  0.140177 -0.504117  0.304612
1  0.976462 -2.716837  0.000000  0.000000
2 -0.666406 -0.132507  1.442619 -0.406049

In [36]:
for i in range(1):
    print(1)

1