In [33]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3, 4), columns=list('ABCD'))
df.iloc[1, 2:4] = np.nan

In [34]:
df

          A         B         C         D
0 -0.693078  2.070239  0.348504  2.326953
1  1.047088 -0.314495       NaN       NaN
2 -0.287518  0.004671 -0.286110 -0.531221

In [26]:
df.loc[:, ['C', 'D']]

          C         D
0 -0.504117  0.304612
1       NaN       NaN
2  1.442619 -0.406049

In [27]:
df.loc[:, ['C', 'D']].fillna(-1, inplace=True)

In [32]:
df.loc[:, ['C', 'D']]

          C         D
0 -0.504117  0.304612
1  0.000000  0.000000
2  1.442619 -0.406049

In [30]:
df.fillna(0, inplace=True)

In [31]:
df

          A         B         C         D
0  0.861490  0.140177 -0.504117  0.304612
1  0.976462 -2.716837  0.000000  0.000000
2 -0.666406 -0.132507  1.442619 -0.406049

In [36]:
for i in range(1):
    print(1)

1